ws-service/src/main/axis2/DeployService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:deploy="http://tempo.intalio.org/deploy/deploymentService"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:ns="http://ws.deployment.deploy.intalio.org"
	xmlns:ns1="http://org.apache.axis2/xsd"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ws.deployment.deploy.intalio.org">

   <wsdl:documentation>DeployService</wsdl:documentation>

   <wsdl:types>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://tempo.intalio.org/deploy/deploymentService">
         <xs:element name="undeployAssembly">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="assemblyName" type="xs:string" />
                  <xs:element name="assemblyVersion" type="xs:int" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="undeployAssemblyResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="retireProcess">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="assemblyName" type="xs:string" />
                  <xs:element name="assemblyVersion" type="xs:int" />
                  <xs:element name="processName" type="xs:string" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="retireProcessResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="retireAssembly">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="assemblyName" type="xs:string" />
                  <xs:element name="assemblyVersion" type="xs:int" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="retireAssemblyResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="retire">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="assemblyName" type="xs:string" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="retireResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getDeployedAssemblies" type="xs:anyType" />
         <xs:element name="getDeployedAssembliesResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="deployAssembly">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="assemblyName" type="xs:string" />
                  <xs:element name="activate" type="xs:boolean" />
                  <xs:element name="zip" type="xs:byte" />
                  <xs:element name="user" type="xs:string" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="deployAssemblyResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="activateProcess">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="assemblyName" type="xs:string" />
                  <xs:element name="assemblyVersion" type="xs:int" />
                  <xs:element name="processName" type="xs:string" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="activateProcessResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="activate">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="assemblyName" type="xs:string" />
                  <xs:element name="assemblyVersion" type="xs:int" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="activateResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
	<xs:element name="getClusterInfo">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>
	<xs:complexType name="property">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="value" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="clusterInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="property" type="deploy:property" maxOccurs="unbounded" minOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
      </xs:schema>
   </wsdl:types>

   <wsdl:message name="retireAssemblyRequest">
      <wsdl:part name="parameters" element="deploy:retireAssembly" />
   </wsdl:message>
   <wsdl:message name="retireAssemblyResponse">
      <wsdl:part name="parameters" element="deploy:retireAssemblyResponse" />
   </wsdl:message>
   <wsdl:message name="retireProcessRequest">
      <wsdl:part name="parameters" element="deploy:retireProcess" />
   </wsdl:message>
   <wsdl:message name="retireProcessResponse">
      <wsdl:part name="parameters" element="deploy:retireProcessResponse" />
   </wsdl:message>
   <wsdl:message name="activateRequest">
      <wsdl:part name="parameters" element="deploy:activate" />
   </wsdl:message>
   <wsdl:message name="activateResponse">
      <wsdl:part name="parameters" element="deploy:activateResponse" />
   </wsdl:message>
   <wsdl:message name="activateProcessRequest">
      <wsdl:part name="parameters" element="deploy:activateProcess" />
   </wsdl:message>
   <wsdl:message name="activateProcessResponse">
      <wsdl:part name="parameters" element="deploy:activateProcessResponse" />
   </wsdl:message>
   <wsdl:message name="retireRequest">
      <wsdl:part name="parameters" element="deploy:retire" />
   </wsdl:message>
   <wsdl:message name="retireResponse">
      <wsdl:part name="parameters" element="deploy:retireResponse" />
   </wsdl:message>
   <wsdl:message name="getDeployedAssembliesRequest">
      <wsdl:part name="parameters" element="deploy:getDeployedAssemblies" />
   </wsdl:message>
   <wsdl:message name="getDeployedAssembliesResponse">
      <wsdl:part name="parameters" element="deploy:getDeployedAssembliesResponse" />
   </wsdl:message>
   <wsdl:message name="undeployAssemblyRequest">
      <wsdl:part name="parameters" element="deploy:undeployAssembly" />
   </wsdl:message>
   <wsdl:message name="undeployAssemblyResponse">
      <wsdl:part name="parameters" element="deploy:undeployAssemblyResponse" />
   </wsdl:message>
   <wsdl:message name="deployAssemblyRequest">
      <wsdl:part name="parameters" element="deploy:deployAssembly" />
   </wsdl:message>
   <wsdl:message name="deployAssemblyResponse">
      <wsdl:part name="parameters" element="deploy:deployAssemblyResponse" />
   </wsdl:message>
   <wsdl:message name="clusterInfoRequest">
      <wsdl:part name="parameters" element="deploy:getClusterInfo" />
   </wsdl:message>
   <wsdl:message name="clusterInfo">
      <wsdl:part name="parameters" element="deploy:clusterInfo" />
   </wsdl:message>

   <wsdl:portType name="DeployServicePortType">
      <wsdl:operation name="retireAssembly">
         <wsdl:input message="ns:retireAssemblyRequest" wsaw:Action="urn:retireAssembly" />
         <wsdl:output message="ns:retireAssemblyResponse" wsaw:Action="urn:retireAssemblyResponse" />
      </wsdl:operation>
      <wsdl:operation name="retireProcess">
         <wsdl:input message="ns:retireProcessRequest" wsaw:Action="urn:retireProcess" />
         <wsdl:output message="ns:retireProcessResponse" wsaw:Action="urn:retireProcessResponse" />
      </wsdl:operation>
      <wsdl:operation name="activate">
         <wsdl:input message="ns:activateRequest" wsaw:Action="urn:activate" />
         <wsdl:output message="ns:activateResponse" wsaw:Action="urn:activateResponse" />
      </wsdl:operation>
      <wsdl:operation name="activateProcess">
         <wsdl:input message="ns:activateProcessRequest" wsaw:Action="urn:activateProcess" />
         <wsdl:output message="ns:activateProcessResponse" wsaw:Action="urn:activateProcessResponse" />
      </wsdl:operation>
      <wsdl:operation name="retire">
         <wsdl:input message="ns:retireRequest" wsaw:Action="urn:retire" />
         <wsdl:output message="ns:retireResponse" wsaw:Action="urn:retireResponse" />
      </wsdl:operation>
      <wsdl:operation name="getDeployedAssemblies">
         <wsdl:input message="ns:getDeployedAssembliesRequest" wsaw:Action="urn:getDeployedAssemblies" />
         <wsdl:output message="ns:getDeployedAssembliesResponse" wsaw:Action="urn:getDeployedAssembliesResponse" />
      </wsdl:operation>
      <wsdl:operation name="undeployAssembly">
         <wsdl:input message="ns:undeployAssemblyRequest" wsaw:Action="urn:undeployAssembly" />
         <wsdl:output message="ns:undeployAssemblyResponse" wsaw:Action="urn:undeployAssemblyResponse" />
      </wsdl:operation>
      <wsdl:operation name="deployAssembly">
         <wsdl:input message="ns:deployAssemblyRequest" wsaw:Action="urn:deployAssembly" />
         <wsdl:output message="ns:deployAssemblyResponse" wsaw:Action="urn:deployAssemblyResponse" />
      </wsdl:operation>
      <wsdl:operation name="getClusterInfo">
         <wsdl:input message="ns:clusterInfoRequest" wsaw:Action="urn:clusterInfoRequest" />
         <wsdl:output message="ns:clusterInfo" wsaw:Action="urn:clusterInfo" />
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:binding name="DeployServiceSoap11Binding" type="ns:DeployServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
      <wsdl:operation name="retireAssembly">
         <soap:operation soapAction="urn:retireAssembly" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="retireProcess">
         <soap:operation soapAction="urn:retireProcess" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="activate">
         <soap:operation soapAction="urn:activate" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="activateProcess">
         <soap:operation soapAction="urn:activateProcess" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="undeployAssembly">
         <soap:operation soapAction="urn:undeployAssembly" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getDeployedAssemblies">
         <soap:operation soapAction="urn:getDeployedAssemblies" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="retire">
         <soap:operation soapAction="urn:retire" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="deployAssembly">
         <soap:operation soapAction="urn:deployAssembly" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getClusterInfo">
         <soap:operation soapAction="urn:getClusterInfo" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>

   <wsdl:binding name="DeployServiceSoap12Binding" type="ns:DeployServicePortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
      <wsdl:operation name="retireAssembly">
         <soap12:operation soapAction="urn:retireAssembly" style="document" />
         <wsdl:input>
            <soap12:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="retireProcess">
         <soap12:operation soapAction="urn:retireProcess" style="document" />
         <wsdl:input>
            <soap12:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="activate">
         <soap12:operation soapAction="urn:activate" style="document" />
         <wsdl:input>
            <soap12:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="activateProcess">
         <soap12:operation soapAction="urn:activateProcess" style="document" />
         <wsdl:input>
            <soap12:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="undeployAssembly">
         <soap12:operation soapAction="urn:undeployAssembly" style="document" />
         <wsdl:input>
            <soap12:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getDeployedAssemblies">
         <soap12:operation soapAction="urn:getDeployedAssemblies" style="document" />
         <wsdl:input>
            <soap12:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="retire">
         <soap12:operation soapAction="urn:retire" style="document" />
         <wsdl:input>
            <soap12:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="deployAssembly">
         <soap12:operation soapAction="urn:deployAssembly" style="document" />
         <wsdl:input>
            <soap12:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getClusterInfo">
         <soap12:operation soapAction="urn:getClusterInfo" style="document" />
         <wsdl:input>
            <soap12:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>

   <wsdl:binding name="DeployServiceHttpBinding" type="ns:DeployServicePortType">
      <http:binding verb="POST" />
      <wsdl:operation name="retireAssembly">
         <http:operation location="retireAssembly" />
         <wsdl:input>
            <mime:content type="application/xml" part="parameters" />
         </wsdl:input>
         <wsdl:output>
            <mime:content type="application/xml" part="parameters" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="retireProcess">
         <http:operation location="retireProcess" />
         <wsdl:input>
            <mime:content type="application/xml" part="parameters" />
         </wsdl:input>
         <wsdl:output>
            <mime:content type="application/xml" part="parameters" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="activate">
         <http:operation location="activate" />
         <wsdl:input>
            <mime:content type="application/xml" part="parameters" />
         </wsdl:input>
         <wsdl:output>
            <mime:content type="application/xml" part="parameters" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="activateProcess">
         <http:operation location="activateProcess" />
         <wsdl:input>
            <mime:content type="application/xml" part="parameters" />
         </wsdl:input>
         <wsdl:output>
            <mime:content type="application/xml" part="parameters" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="undeployAssembly">
         <http:operation location="undeployAssembly" />
         <wsdl:input>
            <mime:content type="application/xml" part="parameters" />
         </wsdl:input>
         <wsdl:output>
            <mime:content type="application/xml" part="parameters" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getDeployedAssemblies">
         <http:operation location="getDeployedAssemblies" />
         <wsdl:input>
            <mime:content type="application/xml" part="parameters" />
         </wsdl:input>
         <wsdl:output>
            <mime:content type="application/xml" part="parameters" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="retire">
         <http:operation location="retire" />
         <wsdl:input>
            <mime:content type="application/xml" part="parameters" />
         </wsdl:input>
         <wsdl:output>
            <mime:content type="application/xml" part="parameters" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="deployAssembly">
         <http:operation location="deployAssembly" />
         <wsdl:input>
            <mime:content type="application/xml" part="parameters" />
         </wsdl:input>
         <wsdl:output>
            <mime:content type="application/xml" part="parameters" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getClusterInfo">
         <http:operation location="getClusterInfo" />
         <wsdl:input>
            <mime:content type="application/xml" part="parameters" />
         </wsdl:input>
         <wsdl:output>
            <mime:content type="application/xml" part="parameters" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>

   <wsdl:service name="DeployService">
      <wsdl:port name="DeployServiceHttpSoap11Endpoint" binding="ns:DeployServiceSoap11Binding">
         <soap:address location="http://localhost:8080/intalio/ode/processes/DeployService.DeployServiceHttpSoap11Endpoint/" />
      </wsdl:port>
      <wsdl:port name="DeployServiceHttpsSoap11Endpoint" binding="ns:DeployServiceSoap11Binding">
         <soap:address location="https://localhost:8443/intalio/ode/processes/DeployService.DeployServiceHttpsSoap11Endpoint/" />
      </wsdl:port>
      <wsdl:port name="DeployServiceHttpsSoap12Endpoint" binding="ns:DeployServiceSoap12Binding">
         <soap12:address location="https://localhost:8443/intalio/ode/processes/DeployService.DeployServiceHttpsSoap12Endpoint/" />
      </wsdl:port>
      <wsdl:port name="DeployServiceHttpSoap12Endpoint" binding="ns:DeployServiceSoap12Binding">
         <soap12:address location="http://localhost:8080/intalio/ode/processes/DeployService.DeployServiceHttpSoap12Endpoint/" />
      </wsdl:port>
      <wsdl:port name="DeployServiceHttpsEndpoint" binding="ns:DeployServiceHttpBinding">
         <http:address location="https://localhost:8443/intalio/ode/processes/DeployService.DeployServiceHttpsEndpoint/" />
      </wsdl:port>
      <wsdl:port name="DeployServiceHttpEndpoint" binding="ns:DeployServiceHttpBinding">
         <http:address location="http://localhost:8080/intalio/ode/processes/DeployService.DeployServiceHttpEndpoint/" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
